.content-padding{
    padding: 20px 5% !important;
    margin: 0px !important;
}

.right-arrow {
	display: inline-block;
	position: relative;
	background: #2f89cb;
	padding: 10px;
    color: white;
    font-weight: 500;
    margin-right: 50px;
    text-align: left;
}

.right-arrow:nth-child(2) {
    background: #05b62f;
}

.right-arrow:nth-child(2):after {
	border-left: 22px solid #05b62f;
}

.right-arrow:nth-child(2)::before {
    border-top: 22px solid #05b62f;
	border-right: 22px solid #05b62f;
	border-bottom: 22px solid #05b62f;
}

.right-arrow:after {
	content: '';
	display: block;  
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -22px;
	width: 0;
	height: 0;
	border-top: 22px solid transparent;
	border-right: 22px solid transparent;
	border-bottom: 22px solid transparent;
	border-left: 22px solid #2f89cb;
}

.right-arrow:before {
	content: '';
	display: block;  
	position: absolute;
	right: 100%;
	top: 50%;
	margin-top: -22px;
	width: 0;
	height: 0;
	border-top: 22px solid #2f89cb;
	border-right: 22px solid #2f89cb;
	border-bottom: 22px solid #2f89cb;
	border-left: 22px solid transparent;
}

.right-arrow:hover{
    text-decoration: none;
    color: white;

}

.web-path{
    margin: 0px 0 0 60px;
}