p{
    font-size: 18px;
}

#intro-maincontainer{
   margin: 30px 14%;
}

.intro-section{
    margin-top: 50px;
}

.intro-section h3{
    margin: 20px 0;
    text-align: center;
    font-weight: 600;
    color: rgb(13, 213, 13);
}

.intro-section p{
    text-align: justify;
}

.intro-section ul,li{
    font-size: 18px;
    margin-top: 10px;
}

.container-intro-01{
    display: flex;
    justify-content: center;
}

.container-intro-01-img{
    flex: 50%;
    padding-right: 20px;
}

.container-intro-01-content{
    flex: 50%;
}

.container-intro-01 img{
    width: 100%;
    height: 100%;
    padding: 10px;
}