p{
    font-size: 18px;
}

strong{
    text-transform: uppercase;
}

#intro-maincontainer{
   margin: 30px 14%;
}

.col-md-6{
    padding: 0px !important;
}

.intro-section{

}

.intro-section h3{
    margin: 10px 0;
    text-align: center;
    font-weight: 600;
    color: rgb(13, 213, 13);
}

.intro-section p{
    text-align: justify;
}

.intro-section >  ul li{
    font-size: 18px;
    margin-top: 10px;
}

.container-intro-01{
    display: flex;
    justify-content: center;
}

.container-intro-01-img{
    padding-right: 20px;
}

.container-intro-01-content{
}

.container-intro-01 img{
    width: 100%;
    height: 100%;
    padding: 10px;
}

@media screen and (max-width: 920px) {
    #intro-maincontainer{
        margin: 10px 0%;
    }

    .container-intro-01-img{
        padding-right: 0px;
    }

    .intro-section{
        width: 100%;
        padding: 10px;
        margin-right: 20px !important;
    }
}