.contact__header{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 50px 0;
}

.contact__header b{
    display: block;
    flex: 1;
    height: 2px;
    opacity: .1;
    background-color: currentColor;
}

.contact__header span{
    text-align: center;
    font-weight: bold;
}

p{
    text-align: left;
}

p,i,h4,h3{
    color: rgb(7, 7, 129) !important
}

.contact__main{
    padding: 10px 8% 0px 12%;
}

.contact__main-header h4{
    font-weight: bold;
}

.contact__main-body{
    margin: 0px 5%;
}

.contact__items{
    padding: 0 10px;
    margin: 20px;
}

.contact__items i{
    font-size: 30px;
    padding: 10px;
}

.contact__items p{
    font-weight: 600;
}

.contact__send-email input{
    width: 400px;
    height: 50px;
    margin: 10px 0px;
    border-radius: 10px;
}

#map{
    padding: 20px;
    width: 600px !important;
    height: 400px !important;
}

.contact__send-email button{
    padding: 10px 30px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    border: none;
    margin: 10px 0px;
    font-weight: 600
}

@media screen and (max-width: 1140px) {
    .contact__main{
        padding: 0px 10px;
    }
    .contact__main-body{
        margin: 0px 1%;
    }
    .contact__items{
        padding: 0px;
        margin: 0px;
    }

    .contact__send-email input{
        width: 300px;
        height: 30px;
        margin: 5px 0px;
        border-radius: 10px;
    }

    #map{
        padding: 0px;
        width: 300px !important;
    }
}

