*{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: Montserrat;
}

body{
    height:100%;
    width:100%;
}

.row-no-padding {
    margin-left: 0;
    margin-right: 0;
}

.row-no-padding [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#contact-fixed{
    position: absolute;
    width: 100px;
    z-index: 2;
    position: fixed;
    right: 1%;
    top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-fixed i{
    color: white;
    font-size: 45px;
}

#contact-fixed div{
    display: flex;
    width: 70%;
    border-radius: 50%;
    background-color: #2696E9;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
}

#contact-fixed div:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

#contact-fixed img{
    width: 100%;
}

.header{
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
}

.header__contact{
    display: flex;
    justify-content: center;
    width: 100%;
    background : #22b62f;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.header__contact span{
    padding: 5px 0px;
    margin-left: 2%;
    margin-right: 2%;
    font-weight: 450;
    color: white;
    font-size: 13px;
}

.header__contact img{
    width:17px;
    padding-right: 3px; 
}

.header__logo{
    padding: 10px;
    display: flex;
    margin-left: 20%;
}

.header__logo img{
    width: 50%;
}

.header__search-left{
    color: white;
    background-color: #2696E9;
    font-size: 12px;
    font-weight: 500;
    margin: 10px 5px;
    padding: 6px 15px;
    border-radius: 15px;
    text-align: center;
}

.header__search-left__res{
    width: 100px;
    display: none;
    color: white;
    background-color: #2696E9;
    font-size: 12px;
    font-weight: 500;
    border-radius: 15px;
    text-align: center;
    margin: auto;
    padding: 5px 20px;
}

.header__search-right{
    color: #222;
    background-color: #dbdee1;
    font-size: 12px;
    font-weight: 500;
    margin: 10px 5px;
    padding: 6px 15px;
    border-radius: 15px;
    text-align: center;
}

.header__search-right__res{
    width: 100px;
    display: none;
    color: #222;
    background-color: #dbdee1;
    font-size: 12px;
    font-weight: 500;
    border-radius: 15px;
    text-align: center;
    margin: auto;
    padding: 5px 20px;
}

.nav-item a{
    text-align: center;
    padding: 10px 16px !important;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    font-size: 16px;
}

.nav-link{
    color: #2696E9 !important;
}

.dropdown-toggle::after {
    color: #22b62f;
}

.dropdown-toggle:active{
    color: #22b62f !important;
}

.dropdown-toggle:active:after {
    border-top: 0;
    border-right: 0.3em solid transparent;
    border-bottom: 0.3em solid;
    border-left: 0.3em solid transparent;
}

.navbar-toggler{
    padding: 4px 8px !important;
    margin: auto
}

.navbar-toggler-icon{
    width: 25px !important;
}

.introduction-figure{
    margin-top: 100px;
}

.introduction-figure .row{
    width: 80%;
}

.introduction-figure .col-md-6{
    padding: 0px 40px;
}

.introduction-figure img{
    border-radius: 8px;
}

.service-section-horizon-line{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 50px 0;
}

.service-section-horizon-line b{
    display: block;
    flex: 1;
    height: 2px;
    opacity: .1;
    background-color: currentColor;
}

.service-section-horizon-line span{
    text-align: center;
    font-weight: bold;
}

.products-grids-card{
    padding: 0px 100px;
}

.products-grids-card .mt-50{

    margin-top: 50px;
}

.products-grids-card .mb-50{
    margin-bottom: 50px;
}

.products-grids-card .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .1875rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.products-grids-card .card-img-actions {
    position: relative;
}
.products-grids-card .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.8rem;
    text-align: center;
}

.card-body p{
    height: 120px;
}

.products-grids-card .card-img{
    height: 350px;
    width: 350px;
}

.products-grids-card .bg-cart {
    background-color:#2696E9;
    color:#fff;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
}

.products-grids-card .bg-cart:hover {
    
    color:#fff;
}

.products-grids-card .bg-buy {
    background-color:green;
    color:#fff;
    padding-right: 29px;
}
.products-grids-card .bg-buy:hover {
    
    color:#fff;
}

.products-grids-card a{
    text-decoration: none !important;
}

@media screen and (max-width: 766px) {
    #contact-fixed{
        width: 60px;
    }
    
    #contact-fixed i{
        font-size: 25px;
    }

    .header__contact span{
        padding: 3px 0px;
        margin-left: 1%;
        margin-right: 1%;
        font-weight: 450;
        color: white;
        font-size: 7px;
    }

    .header__contact span i{
        display: none;
    }

    .header__logo{
        margin-left: 0px;
        justify-content: center;
    }

    .header__search-left{
        display: none;
    }

    .header__search-right{
        display: none;
    }

    .header__search-left__res{
        display: block;
    }

    .header__search-right__res{
        display: block;
    }

    .introduction-figure{
        margin-top: 0px;
    }

    .introduction-figure .row{
        width: 95%;
    }
    
    .introduction-figure .col-md-6{
        margin-top: 20px;
        padding: 0px 10px;
        display: flex;
        justify-content: center;
    }

    .introduction-figure .col-md-6 h1{
        font-size: 20px;
    }

    .products-grids-card{
        padding: 0px 30px;
    }
}

@keyframes phonering-alo-circle-img-anim {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        transform: rotate(0) scale(1) skew(1deg);
    }
}



