*{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: Montserrat;
}

body{
    height:100%;
    width:100%;
}

.row-no-padding {
    margin-left: 0;
    margin-right: 0;
}

.row-no-padding [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#contact-fixed{
    position: absolute;
    width: 100px;
    z-index: 2;
    position: fixed;
    right: 1%;
    top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-fixed i{
    color: white;
    font-size: 45px;
}

#contact-fixed div{
    display: flex;
    width: 70%;
    border-radius: 50%;
    background-color: #2696E9;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
}

#contact-fixed div:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

#contact-fixed img{
    width: 100%;
}

.header{
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
}

.header__contact{
    display: flex;
    justify-content: center;
    width: 100%;
    background : #22b62f;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.header__contact span{
    padding: 5px 0px;
    margin-left: 2%;
    margin-right: 2%;
    font-weight: 450;
    color: white;
    font-size: 13px;
}

.header__contact img{
    width:17px;
    padding-right: 3px; 
}

.header__logo{
    padding: 10px;
    display: flex;
    margin-left: 20%;
}

.header__logo img{
    width: 50%;
}

.header__search-left{
    color: white;
    background-color: #2696E9;
    font-size: 12px;
    font-weight: 500;
    margin: 10px 5px;
    padding: 6px 15px;
    border-radius: 15px;
    text-align: center;
}

.header__search-left__res{
    width: 100px;
    display: none;
    color: white;
    background-color: #2696E9;
    font-size: 12px;
    font-weight: 500;
    border-radius: 15px;
    text-align: center;
    margin: auto;
    padding: 5px 20px;
}

.header__search-right{
    color: #222;
    background-color: #dbdee1;
    font-size: 12px;
    font-weight: 500;
    margin: 10px 5px;
    padding: 6px 15px;
    border-radius: 15px;
    text-align: center;
}

.header__search-right__res{
    width: 100px;
    display: none;
    color: #222;
    background-color: #dbdee1;
    font-size: 12px;
    font-weight: 500;
    border-radius: 15px;
    text-align: center;
    margin: auto;
    padding: 5px 20px;
}

.nav-item a{
    text-align: center;
    padding: 10px 16px !important;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    font-size: 16px;
}

.nav-link{
    color: #2696E9 !important;
}

.dropdown-toggle::after {
    color: #22b62f;
}

.dropdown-toggle:active{
    color: #22b62f !important;
}

.dropdown-toggle:active:after {
    border-top: 0;
    border-right: 0.3em solid transparent;
    border-bottom: 0.3em solid;
    border-left: 0.3em solid transparent;
}

.navbar-toggler{
    padding: 4px 8px !important;
    margin-left: 15px;
}

.navbar-toggler-icon{
    width: 25px !important;
}

.introduction-figure{
    margin-top: 100px;
}

.introduction-figure .row{
    width: 80%;
}

.introduction-figure .col-md-6{
    padding: 0px 40px;
}

.introduction-figure img{
    border-radius: 8px;
}

.service-section-horizon-line{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 50px 0;
}

.service-section-horizon-line b{
    display: block;
    flex: 1;
    height: 2px;
    opacity: .1;
    background-color: currentColor;
}

.service-section-horizon-line span{
    text-align: center;
    font-weight: bold;
}

.products-grids-card{
    padding: 0px 100px;
}

.products-grids-card .mt-50{

    margin-top: 50px;
}

.products-grids-card .mb-50{
    margin-bottom: 50px;
}

.products-grids-card .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .1875rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.products-grids-card .card-img-actions {
    position: relative;
}
.products-grids-card .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.8rem;
    text-align: center;
}

.card-body p{
    height: 140px;
}

.products-grids-card .card-img{
    height: 350px;
    width: 350px;
}

.products-grids-card .bg-cart {
    background-color:#2696E9;
    color:#fff;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
}

.products-grids-card .bg-cart:hover {
    
    color:#fff;
}

.products-grids-card .bg-buy {
    background-color:green;
    color:#fff;
    padding-right: 29px;
}
.products-grids-card .bg-buy:hover {
    
    color:#fff;
}

.products-grids-card a{
    text-decoration: none !important;
}


#slider-control .left i{
	width: 100%;
	text-align: left;
	margin-top: 70%;
	font-size: 35px;
}

#slider-control .right i{
	width: 100%;
	text-align: right;
	margin-top: 70%;
	font-size: 35px;
}

.item-container{
	width: 100%;
}

.item-container .img-container{
	height: 250px;
	width: 100%;
	overflow: hidden;
}

.item-container img{
	transition: transform 2s ease;
	width: 100%;
	height: 100%;
}

.item-container img:hover{
	-ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

.btn-add{
	width: 100%;
	padding: 10px;
	text-align: center;
	color: #fff;
	background: var(--main-color);
	border-radius: 5px;
	border: none;
	margin: 2px;
}

.btn-add:hover{
	background: #fff;
	color: var(--main-color);
	transition: 0.5s;
	border: 2px solid var(--main-color);
	margin: 0px;
}

.btn-add:active{
	transform: translateY(15px);
	border: none;
}

.best-seller-slider{
    padding: 20px 10% 100px;
}

#carousel-control{
    bottom: -50px;
}

#carousel-control li{
    background-color: #c6dff3;
}

#carousel-control li.active{
    background-color: #2696E9;
}

.thumb-wrapper{
    background-color: rgba(222, 222, 222, 0.403);
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
}

.thumb-wrapper .img-box{
    height: 300px;
	width: 100%;
	position: relative;
}

.thumb-wrapper .img-box img{
    width: 100%;
    height: 100%;
    max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.thumb-content h4,p{
    text-align: center;
    padding-top: 10px;
}

.thumb-content a{
    display: block;
    margin: auto;
    width: 200px;
}

.button-control-slider{
    height: 40px;
    width: 40px !important;
	background: none;
	margin: auto 0;
	background: rgba(57, 91, 211, 0.472);
}

.button-control-slider i{
    font-size: 30px;
	position: absolute;
	top: 50%;
	display: inline-block;
	margin: -16px 0 0 0;
	z-index: 5;
	left: 0;
	right: 0;
	color: rgb(4, 15, 133);
	text-shadow: none;
	font-weight: bold;
}

.indicators-slider{
    bottom: -150px;
}


.footer-container-bottom{
    padding: 20px 50px 20px 100px;
    background-color: rgb(0, 82, 132);
    display: flex;
    justify-content: center;
}

.footer-container-bottom >div{
    margin: 50px 20px;
}

.footer-container-bottom p{
    color: white;
    padding-bottom: 25px;
    text-align: left;
    
}

.footer-container-bottom h3{
    color: white;
    padding-bottom: 25px;
    font-weight: bold;
}

.footer-part-1{
    flex: 30%;
    padding: 0 50px;
}

.footer-part-2{
    flex: 40%;
}

.footer-part-3{
    flex: 20%;
}

.footer-part-1 img{
    width: 200px;
    margin-bottom: 20px;
}

.footer-contact-icon{
    width: 100%;
}

.footer-contact-icon >div{
    padding: 0px !important;
}

.footer-contact-icon a{
    text-decoration: none;
}

.footer-contact-icon i{
    font-size: 28px;
    display: inline;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
}

@media screen and (max-width: 766px) {
    #contact-fixed{
        width: 60px;
    }
    
    #contact-fixed i{
        font-size: 25px;
    }

    .header__contact span{
        padding: 3px 0px;
        margin-left: 1%;
        margin-right: 1%;
        font-weight: 450;
        color: white;
        font-size: 7px;
    }

    .header__contact span i{
        display: none;
    }

    .header__logo{
        margin-left: 0px;
        justify-content: center;
    }

    .header__search-left{
        display: none;
    }

    .header__search-right{
        display: none;
    }

    .header__search-left__res{
        display: block;
    }

    .header__search-right__res{
        display: block;
    }

    .introduction-figure{
        margin-top: 0px;
    }

    .introduction-figure .row{
        width: 95%;
    }
    
    .introduction-figure .col-md-6{
        margin-top: 20px;
        padding: 0px 10px;
        display: flex;
        justify-content: center;
    }

    .introduction-figure .col-md-6 h1{
        font-size: 20px;
    }

    .products-grids-card{
        padding: 0px 30px;
    }

    .thumb-wrapper{
        margin: 30px 0px;
    }

    .footer-container-bottom{
        padding: 20px 10px;
    }

    .footer-container-bottom .row >div{
        margin: 40px 20px;
    }
}

@keyframes phonering-alo-circle-img-anim {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        transform: rotate(0) scale(1) skew(1deg);
    }
}



